venv/
__pycache__/
*.pyc
.env
node_modules/
dist/
ai-model/weights/
ai-model/dataset/raw_flir/
ai-model/dataset/processed/
ai-model/dataset/sample_visualizations/
thermal-streaming/sample_videos/mock_thermal.mp4
*.jpg
*.jpeg
*.mp4
*.zip
*.png
*.avi
.DS_Store
